{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="forgot-password-section text-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Forgot Password</legend>
            {{ "" | linebreaks }}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-dark" type="submit">Verify Email</button>
        </div>
    </form>
</div>

{% endblock content %}


